<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2015-11-13">
    <action type="video">
      The tribes we lead
    </action>
    <references>
      <reference src="http://www.ted.com/talks/seth_godin_on_the_tribes_we_lead" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir - Intervista - Diventare piu' pienamente umani
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=lIZOeC6pEvM" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir: Communication and Congruence (except) -- A Thinking Allowed
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=vfkWnQNWCRE" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir The Essence Change Video
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=hiOG6qsf8BU" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="podcast">
      SE-Radio Episode 238: Linda Rising on the Agile Brain
    </action>
    <references>
      <reference src="http://www.se-radio.net/2015/09/se-radio-episode-238-linda-rising-on-the-agile-brain/" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="trying">
      This is my new daily activity log
    </action>
    <references>
      <reference src="https://github.com/moretto-nik/daily-activity-log" type="source" />
    </references>
  </event>
</events>
