<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2016-03-04">
    <action type="video">
      How great leaders inspire action
    </action>
    <references>
      <reference src="https://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action" type="source" />
    </references>
  </event>
  <event date="2016-03-04">
    <action type="reading">
      Diana Larsen on the Conditions for Best Job Ever, Team Communication and Five Rules of Learning
    </action>
    <references>
      <reference src="http://www.infoq.com/interviews/agile2014-larsen-bestjob" type="source" />
    </references>
  </event>
  <event date="2016-03-02">
    <action type="reading">
      Agile Enablement Failures
    </action>
    <references>
      <reference src="https://www.getrevue.co/profile/carloz/archive/13588" type="source" />
    </references>
  </event>
  <event date="2016-03-01">
    <action type="reading">
      Il sacrificio non e' valore
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/cari-manager-il-sacrificio-non-%C3%A8-un-valore-emiliano-pecis" type="source" />
    </references>
  </event>
  <event date="2016-03-01">
    <action type="reading">
      Tutto il potere ai developers!
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/tutto-il-potere-ai-developers-emiliano-pecis" type="source" />
    </references>
  </event>
  <event date="2016-02-28">
    <action type="reading">
      Creating Alignment for Agile Change at Agile and Beyond 2015
    </action>
    <references>
      <reference src="http://leanchange.org/2015/05/creating-alignment-for-agile-change-at-agile-and-beyond-2015/" type="source" />
    </references>
  </event>
  <event date="2016-02-25">
    <action type="reading">
      When Project move Faster
    </action>
    <references>
      <reference src="http://blog.avanscoperta.it/it/2016/02/23/certified-scrum-master-when-projects-move-faster/" type="source" />
    </references>
  </event>
  <event date="2016-02-25">
    <action type="reading">
      Building Your Own Change Management Framework
    </action>
    <references>
      <reference src="http://leanchange.org/2014/09/building-your-own-change-management-framework/" type="source" />
    </references>
  </event>
  <event date="2016-02-23">
    <action type="reading">
      Is agile costing you too much?
    </action>
    <references>
      <reference src="http://services.leankanban.com/agile-costing-you-too-much" type="source" />
    </references>
  </event>
  <event date="2016-02-23">
    <action type="reading">
      Does a Scrum Team Need a Retrospective Every Sprint?
    </action>
    <references>
      <reference src="http://www.mountaingoatsoftware.com/blog/does-a-scrum-team-need-a-retrospective-every-sprint" type="source" />
    </references>
  </event>
  <event date="2016-02-17">
    <action type="reading">
      My Personal Agile Journey
    </action>
    <references>
      <reference src="https://davenicolette.wordpress.com/2012/08/04/my-personal-agile-journey/" type="source" />
    </references>
  </event>
  <event date="2016-02-17">
    <action type="reading">
      My Personal Agile Journey
    </action>
    <references>
      <reference src="https://davenicolette.wordpress.com/2012/08/04/my-personal-agile-journey/" type="source" />
    </references>
  </event>
  <event date="2016-02-17">
    <action type="reading">
      Product Storytelling
    </action>
    <references>
      <reference src="http://oanasagile.blogspot.it/2016/02/product-storytelling.html" type="source" />
    </references>
  </event>
  <event date="2016-02-15">
    <action type="reading">
      The Agile Manager’s Practice: Seeding and Cultivating Agile Champions
    </action>
    <references>
      <reference src="http://www.agilecoachinginstitute.com/the-agile-managers-practice-seeding-and-cultivating-agile-champions/" type="source" />
    </references>
  </event>
  <event date="2016-02-15">
    <action type="reading">
      Agile Has Not Crossed the Chasm, A Contrarian View
    </action>
    <references>
      <reference src="http://www.jrothman.com/articles/2013/01/agile-has-not-crossed-the-chasm-a-contrarian-view/" type="source" />
    </references>
  </event>
  <event date="2016-02-15">
    <action type="reading">
      Adopting Agile – Breaking the Cycle of Insanity
    </action>
    <references>
      <reference src="http://theagiletimes.com/adopting-agile-breaking-the-cycle-of-insanity/" type="source" />
    </references>
  </event>
  <event date="2016-02-13">
    <action type="reading">
      The Third Wave of Agile
    </action>
    <references>
      <reference src="http://www.solutionsiq.com/the-third-wave-of-agile/" type="source" />
    </references>
  </event>
  <event date="2016-02-05">
    <action type="reading">
     L'erba "voglio" esiste nel giardino dei Re
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/lerba-voglio-esiste-nel-giardino-dei-re-valeria-arrigoni?trk=hp-feed-article-title-like" type="source" />
    </references>
  </event>
  <event date="2016-01-30">
    <action type="video">
     Organizational Change Myths and Patterns for Evangelists by Linda Rising
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=PJWKvkfbPo0" type="source" />
    </references>
  </event>
  <event date="2016-01-15">
    <action type="book">
     [Host] A User’s Guide to the Future ~ Tiny signs of progress
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-12">
    <action type="book">
     [Host] A User’s Guide to the Future
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-11">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Deferring Decisions
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-10">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Feedback
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-10">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Experimentation
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-08">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Field Testing
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-07">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Customer
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-06">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Values
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-06">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On ~ Customer
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-05">
    <action type="book">
     [The Agile Mind-Set] Deciding What to Work On
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-05">
    <action type="book">
      [Host] Four position for a Host Leader
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-04">
    <action type="book">
     [Host] Hosting in practice: six roles
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-03">
    <action type="book">
     [Host] What do we do, as a Host?
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-03">
    <action type="book">
     [Host] Chapter 3 What Do Hosts Do?
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-03">
    <action type="book">
     [Host] Welcoming – a big chance for openness and connection
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-03">
    <action type="book">
     [The Agile Mind-Set] When Is Agile a Good Fit?
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-03">
    <action type="book">
     [The Agile Mind-Set] Agile Principles
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-02">
    <action type="book">
     [The Agile Mind-Set] Agile Beliefs
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-02">
    <action type="book">
     [The Agile Mind-Set] Agile Values
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-01">
    <action type="book">
     [The Agile Mind-Set] Chapter 1 The Big Picture
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2016-01-01">
    <action type="book">
     [Host] What is a host?
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-31">
    <action type="book">
     [The Agile Mind-Set] Introduction
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-30">
    <action type="book">
     [Host] Getting the most out of this book
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-30">
    <action type="book">
     [Host] The leader as host
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-29">
    <action type="book">
     [Host] Time for a New Look at Leadership
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-29">
    <action type="reading">
     THE 12 PRINCIPLES ICE-BREAKER
    </action>
    <references>
      <reference src="http://blog.oikosofy.com/the-12-principles-ice-breaker-agile-retrospectives-exercise/" type="source" />
    </references>
  </event>
  <event date="2015-12-29">
    <action type="reading">
     The Values of Being Self-Made For Agile Learning ~ Remember that the Scrum Master is not just a role, but also a role model
    </action>
    <references>
      <reference src="http://theagiletimes.com/the-values-of-being-self-made-for-agile-learning/" type="source" />
    </references>
  </event>
  <event date="2015-12-28">
    <action type="reading">
     Creating Alignment for Agile Transformation with Canvases
    </action>
    <references>
      <reference src="http://leanchange.org/2014/02/how-to-create-alignment-for-agile-transformation-with-canvases/" type="source" />
    </references>
  </event>
  <event date="2015-12-28">
    <action type="reading">
     Using Agile Practices with ADKAR
    </action>
    <references>
      <reference src="http://leanchange.org/2014/04/using-agile-practices-with-adkar/" type="source" />
    </references>
  </event>
  <event date="2015-12-28">
    <action type="reading">
     7 Reasons Why Some Corporations Hate Agile Methodologies
    </action>
    <references>
      <reference src="http://theagiletimes.com/7-reasons-why-some-corporations-hate-agile-methodologies/" type="source" />
    </references>
  </event>
  <event date="2015-12-26">
    <action type="reading">
     The Number One Mistake You Make When Trying to Change Your Organization’s Culture
    </action>
    <references>
      <reference src="http://www.payton-consulting.com/the-number-one-mistake-you-make-when-trying-to-change-your-organizations-culture/" type="source" />
    </references>
  </event>
  <event date="2015-12-26">
    <action type="reading">
      On The Agile Mind-Set
    </action>
    <references>
      <reference src="http://www.infoq.com/articles/book-review-the-agile-mindset" type="source" />
    </references>
  </event>
  <event date="2015-12-26">
    <action type="reading">
      3 Reasons Why Agile Training Is Not Enough
    </action>
    <references>
      <reference src="http://www.agile42.com/en/blog/2015/09/10/3-reasons-why-agile-training-not-enough/" type="source" />
    </references>
  </event>
  <event date="2015-12-26">
    <action type="book">
      [Effetto Porcospino] Il cambiamento organizzativo
    </action>
    <references>
      <reference src="http://www.ibs.it/code/9788896826911/kets-de-vries-manfred/effetto-porcospino-segreto.html" type="source" />
    </references>
  </event>
  <event date="2015-12-25">
    <action type="video">
      Standard Work
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=qWTyFNa0OsM" type="source" />
    </references>
  </event>
  <event date="2015-12-25">
    <action type="reading">
      Cargo Cult Agile
    </action>
    <references>
      <reference src="http://www.jamesshore.com/Blog/Cargo-Cult-Agile.html" type="source" />
    </references>
  </event>
  <event date="2015-12-23">
    <action type="book">
      [Toyota kata] Process Analysis
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-23">
    <action type="reading">
      Perspective Mapping
    </action>
    <references>
      <reference src="http://leanchange.org/2013/05/perspective-mapping/" type="source" />
    </references>
  </event>
  <event date="2015-12-22">
    <action type="book">
      [Toyota kata] Where DoYou Start with the Improvement Kata?
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-22">
    <action type="book">
      [Toyota kata] Conclusions
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-22">
    <action type="reading">
      Changing the Culture of an Organization
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/changing-culture-organization-tomas-kejzlar?trk=hp-feed-article-title-ppl-follow" type="source" />
    </references>
  </event>
  <event date="2015-12-19">
    <action type="book">
      [Toyota kata] Making a Plan
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-19">
    <action type="video">
      How to Develop a Great Scrum Master
      Note: la maturita' dello SM e' in relazione con la maturita' del team. Probabilmente la maturita' dello SM dovrebbe essere sempre uno piccolissimo step piu' avanti. Lo SM cresce insieme al team e passa da Dude a Mom a True, oppure deve adattare il suo stile al team.
    </action>
    <references>
      <reference src="http://www.infoq.com/presentations/hire-scrum-master" type="source" />
    </references>
  </event>
  <event date="2015-12-18">
    <action type="reading">
      Sharing is Caring – Why Transparency is Necessary in Agile Teams
    </action>
    <references>
      <reference src="http://theagiletimes.com/sharing-is-caring-transparency-in-agile-teams/" type="source" />
    </references>
  </event>
  <event date="2015-12-18">
    <action type="reading">
      The Scrum Master Maturity Model
    </action>
    <references>
      <reference src="https://stwunder.wordpress.com/2014/07/28/the-scrum-master-maturity-model/" type="source" />
    </references>
  </event>
  <event date="2015-12-17">
    <action type="book">
      [Toyota Kata]Training Through Frequent Coaching Cycles and the Five Questions
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-12-17">
    <action type="book">
      [Toyota Kata]Training Through Frequent Coaching Cycles and the Five Questions
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-12-17">
    <action type="reading">
      How to combine Design Thinking and Agile in practice
    </action>
    <references>
      <reference src="https://medium.com/startup-study-group/how-to-combine-design-thinking-and-agile-in-practice-36c9fc75c6e6#.jnwtwrigz" type="source" />
    </references>
  </event>
  <event date="2015-12-15">
    <action type="video">
      #NoEstimates interview with Vasco Duarte
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=tGrtUVqGkXs" type="source" />
    </references>
  </event>
  <event date="2015-12-15">
    <action type="reading">
      Why organisations will *not* be horizontal
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/why-organisations-horizontal-stelio-verzera" type="source" />
    </references>
  </event>
  <event date="2015-12-14">
    <action type="book">
      Collaboration Explained ~ Collaboration in planning meeting
    </action>
    <references>
      <reference src="" type="source" />
    </references>
  </event>
  <event date="2015-12-12">
    <action type="podcast">
      LCM Podcast EP4: Culture – Can you measure it?
    </action>
    <references>
      <reference src="http://leanchange.org/2015/10/lcm-podcast-ep4-culture-can-you-measure-it/" type="source" />
    </references>
  </event>
  <event date="2015-12-12">
    <action type="book">
      [Toyota Kata] Summary of Part IV ~ Developing Improvement ~ How Do We Change?
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-12-10">
    <action type="book">
      [Toyota Kata] Summary of Part IV ~ Developing Improvement ~ Organization culture
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-12-10">
    <action type="reading">
      Satir Categories
    </action>
    <references>
      <reference src="http://sourcesofinsight.com/satir-categories/" type="source" />
    </references>
  </event>
  <event date="2015-12-08">
    <action type="book">
      [Toyota Kata] Mentor/Mentee
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-12-08">
    <action type="video">
      Lyssa Adkins / Michael Spayd - What Would it Take to Have an Agile Enterprise?
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=AyoDhdRKgiY" type="source" />
    </references>
  </event>
  <event date="2015-12-06">
    <action type="reading">
      [Effetto Porcospino] Le vicissitudini del cambiamento
    </action>
    <references>
      <reference src="http://www.ibs.it/code/9788896826911/kets-de-vries-manfred/effetto-porcospino-segreto.html" type="source" />
    </references>
  </event>
  <event date="2015-12-06">
    <action type="reading">
      Manage like Pirate
    </action>
    <references>
      <reference src="http://oanasagile.blogspot.fr/2015/10/manage-like-pirate.html" type="source" />
    </references>
  </event>
  <event date="2015-12-05">
    <action type="book">
      [Effetto Porcospino] Contenere i conflitti e Conversazioni coraggiose
    </action>
    <references>
      <reference src="http://www.ibs.it/code/9788896826911/kets-de-vries-manfred/effetto-porcospino-segreto.html" type="source" />
    </references>
  </event>
  <event date="2015-12-02">
    <action type="reading">
      People Must Be Told What To Do
    </action>
    <references>
      <reference src="http://leanchange.org/2015/10/people-must-be-told-what-to-do/" type="source" />
    </references>
  </event>
  <event date="2015-12-02">
    <action type="reading">
      How Servant Leadership Increases Agile Team Productivity
    </action>
    <references>
      <reference src="http://theagiletimes.com/how-servant-leadership-increases-agile-team-productivity/" type="source" />
    </references>
  </event>
  <event date="2015-12-01">
    <action type="reading">
      Standish Group 2015 Chaos Report
    </action>
    <references>
      <reference src="http://www.infoq.com/articles/standish-chaos-2015" type="source" />
    </references>
  </event>
  <event date="2015-12-01">
    <action type="reading">
      Agile: Emotional Maturity Required in Project metrics!
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/agile-emotional-maturity-required-rick-freedman" type="source" />
    </references>
  </event>
  <event date="2015-11-30">
    <action type="reading">
      Agile Coaching and Mentoring – Wisdom Explained
    </action>
    <references>
      <reference src="http://theagiletimes.com/agile-coaching-and-mentoring-wisdom-explained/" type="source" />
    </references>
  </event>
  <event date="2015-11-30">
    <action type="book">
      [The science of successful organizational change] organization models (pag 57-63)
    </action>
    <references>
      <reference src="http://www.amazon.com/The-Science-Successful-Organizational-Change/dp/0134000331" type="source" />
    </references>
  </event>
  <event date="2015-11-30">
    <action type="book">
      [The science of successful organizational change] Agile cultures in Google, IBM and 3M(pag 49-57)
    </action>
    <references>
      <reference src="http://www.amazon.com/The-Science-Successful-Organizational-Change/dp/0134000331" type="source" />
    </references>
  </event>
  <event date="2015-11-29">
    <action type="reading">
      Can a Traditional Project Manager Become a ScrumMaster?
    </action>
    <references>
      <reference src="https://www.scrumalliance.org/community/articles/2015/october/can-a-traditional-project-manager-become-a-scrumma" type="source" />
    </references>
  </event>
  <event date="2015-11-29">
    <action type="reading">
      Don't Know What I Want, But I Know How to Get It
    </action>
    <references>
      <reference src="Don’t Know What I Want, But I Know How to Get It" type="source" />
    </references>
  </event>
  <event date="2015-11-28">
    <action type="reading">
      A review of the 3 day Coaching Agile Teams workshop with Lyssa Adkins and Michael Spayd
    </action>
    <references>
      <reference src="http://www.adventureswithagile.com/2015/11/13/a-review-of-the-3-day-coaching-agile-teams-workshop-with-lyssa-adkins-and-michael-spayd/" type="source" />
    </references>
  </event>
  <event date="2015-11-28">
    <action type="reading">
      Why Our Brains Are Wired To Create Team Conflict
    </action>
    <references>
      <reference src="https://www.linkedin.com/pulse/why-our-brains-wired-create-team-conflict-bruce-eckfeldt?trk=hp-feed-article-title-like" type="source" />
    </references>
  </event>
  <event date="2015-11-28">
    <action type="reading">
      Real-life Agile Scaling - Henrik Kniberg
    </action>
    <references>
      <reference src="http://www.infoq.com/news/2015/11/real-life-scalingBKK" type="source" />
    </references>
  </event>
  <event date="2015-11-28">
    <action type="reading">
      The Scrum Master Skeleton
    </action>
    <references>
      <reference src="http://www.growingagile.co.za/2015/02/the-scrummaster-skeleton/" type="source" />
    </references>
  </event>
  <event date="2015-11-27">
    <action type="reading">
      EduScrum in class
    </action>
    <references>
      <reference src="http://eduscrum.nl/en/in-class" type="source" />
    </references>
  </event>
  <event date="2015-11-27">
    <action type="reading">
      Fixed vs. Growth: The Two Basic Mindsets That Shape Our Lives
    </action>
    <references>
      <reference src="https://www.brainpickings.org/2014/01/29/carol-dweck-mindset/" type="source" />
    </references>
  </event>
  <event date="2015-11-26">
    <action type="video">
      The power of believing that you can improve
    </action>
    <references>
      <reference src="https://www.ted.com/talks/carol_dweck_the_power_of_believing_that_you_can_improve" type="source" />
    </references>
  </event>
  <event date="2015-11-26">
    <action type="video">
      Video interview Andrea Tomasini
    </action>
    <references>
      <reference src="http://www.agile42.com/en/blog/2015/10/27/video-interview-andrea-tomasini/" type="source" />
    </references>
  </event>
  <event date="2015-11-26">
    <action type="reading">
      What is an agile leader?
    </action>
    <references>
      <reference src="http://blog.crisp.se/2015/11/10/henrikkniberg/what-is-an-agile-leader" type="source" />
    </references>
  </event>
  <event date="2015-11-24">
    <action type="slides">
      Host Leadership workshop
    </action>
    <references>
      <reference src="http://www.slideshare.net/ppugliese/host-leadership-workshop-at-xp-days-benelux-2014" type="source" />
    </references>
  </event>
  <event date="2015-11-24">
    <action type="book">
      [The science of successful organizational change] Growers vs knowers ~ Growth mindset vs Fixed Mindset (pag 41-49)
    </action>
    <references>
      <reference src="http://www.amazon.com/The-Science-Successful-Organizational-Change/dp/0134000331" type="source" />
    </references>
  </event>
  <event date="2015-11-23">
    <action type="book">
      [Toyota Kata] Mentor/Mentee examples chapter 1 to 4
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-11-23">
    <action type="reading">
      Cooperation vs Collaboration
    </action>
    <references>
      <reference src="http://cloudhead.headmine.net/post/3279118157/cooperation-vs-collaboration" type="source" />
    </references>
  </event>
  <event date="2015-11-23">
    <action type="book">
      [Toyota Kata] Mentor/Mentee
    </action>
    <references>
      <reference src="http://www.lean.org/Bookstore/ProductDetails.cfm?SelectedProductId=324" type="source" />
    </references>
  </event>
  <event date="2015-11-22">
    <action type="reading">
      Iterative and Incremental
    </action>
    <references>
      <reference src="http://www.se.rit.edu/~swen-256/resources/UsingBothIncrementalandIterativeDevelopment-AlistairCockburn.pdf" type="source" />
    </references>
  </event>
  <event date="2015-11-13">
    <action type="video">
      The tribes we lead
    </action>
    <references>
      <reference src="http://www.ted.com/talks/seth_godin_on_the_tribes_we_lead" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir - Intervista - Diventare piu' pienamente umani
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=lIZOeC6pEvM" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir: Communication and Congruence (except) -- A Thinking Allowed
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=vfkWnQNWCRE" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="video">
      Virginia Satir The Essence Change Video
    </action>
    <references>
      <reference src="https://www.youtube.com/watch?v=hiOG6qsf8BU" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="podcast">
      SE-Radio Episode 238: Linda Rising on the Agile Brain
    </action>
    <references>
      <reference src="http://www.se-radio.net/2015/09/se-radio-episode-238-linda-rising-on-the-agile-brain/" type="source" />
    </references>
  </event>
  <event date="2015-11-12">
    <action type="trying">
      This is my new daily activity log
    </action>
    <references>
      <reference src="https://github.com/moretto-nik/daily-activity-log" type="source" />
    </references>
  </event>
</events>
